body {
  background-image: url('/src/images/travel.jpg');
  font-family: "Nunito", sans-serif;
}
header {
  display: flex; 
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 15vh; 
  margin-bottom: 50px; 
  background-color: #72A0C1;
  opacity: .8;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-style: italic; 
}

span {
  font-weight: bold;
}

img {
  height: 10vh; 
  cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
}
h2 {
  color: #0a2351;
}

.upcoming-trip {
  font-style: normal; 
}

.past-trip {
  width: 90%;
  text-align: left;
}

.image-container, 
.money-spent {
  position: fixed; 
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
}

.money-spent {
  width: 8%; 
}

.text-container {
  width: 100%;
}

main {
  display: flex; 
  height: 50vh; 
  justify-content: space-around; 
}

section {
  width: 30%; 
  text-align: center;
  background-color: #87A96B;
  opacity: .9; 
  border-end-start-radius: 80px 80px;
}

.hidden {
  display: none; 
}