body {
  background-image: url('/src/images/balloon.jpg');
  font-family: "Nunito", sans-serif;
  background-size: cover; 
  height: 100vh; 
  margin: 0; 
}

.login-page {
  display: flex; 
  justify-content: column;
}

.login-button {
  margin-top: 3%; 
  width: 45%;
  height: 12%; 
  border-radius: 30px;
  text-align: center; 
  background-color: #87A96B;
  border: solid darkolivegreen 3px; 
  opacity: .8; 
}

.quote-header {
  display: flex; 
  flex-direction: column;
  font-size: 85%;  
  padding-left: 5%; 
  padding-right: 5%;
}

.main-header {
  display: flex; 
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 15vh; 
  margin-bottom: 50px; 
  background-color: #72A0C1;
  opacity: .8;
}
h1 {
  text-align: center;
}
p, 
.quote {
  text-align: center;
  font-style: italic; 
  color: #0a2351;
  margin-top: 1%;
}

span {
  font-weight: bold;
}
.submit-button, 
.show-estimate {
  margin-top: 12%; 
}

.show-cost {
  width: 80%; 
}

.book-button, 
.show-estimate, 
.submit-button {
  color: #0a2351;
  box-shadow: 0px 0px 0px 6px darkolivegreen;
  border-radius: 50px;
  border: none;
}
.home-icon,
.main-icon {
  width: 45%;
  height: 45%; 
}

.globe, 
button {
  cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
}
h2 {
  color: #0a2351;
  margin-bottom: 3%; 
}

.globe {
  height: 10vh; 
}

.date-label, 
.travelers-label, 
.destination-label, 
.duration-label {
  text-align: left; 
}

.book-trip-form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
}

.login-form {
  margin-top: 2%;
  display: flex;
  align-items: center; 
  flex-direction: column;
  width: 60%;
  height: 60%;
}

#username, 
#password {
  width: 45%;
  height: 12%; 
  border-radius: 30px;
  border: none; 
  text-align: center; 
  background-color: #87A96B;
  opacity: .6;
  margin-top: .5%;
}

::placeholder {
  color: black; 
}

.airplane {
  height: 10vh; 
  margin-bottom: 5%; 
}

.upcoming-trip {
  font-style: normal; 
}

.past-trip, 
.post-trips {
  width: 90%;
  background-color: antiquewhite;
  height: 90%; 
}

.image-container, 
.money-spent {
  position: fixed; 
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
}

.money-spent {
  width: 8%; 
}

.text-container {
  width: 100%;
}

main {
  display: flex; 
  height: 70vh; 
  justify-content: space-around; 
}

section {
  width: 30%; 
  text-align: center;
  background-color: rgb(229, 43, 80, .7);
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

/* .pending-trips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.book-trip {
  background-color: #72A0C1; 
  opacity: .8; 
  border-radius: 12px;  
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%; 
}

.book-display {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center
}

.hidden {
  display: none; 
}
